<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<script type="text/javascript" th:src="@{/js/settings.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/modern.css}" />
<script src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-7"></script>
<script type="text/javascript" th:src="@{/js/myJavaScript.js}"></script>
<link  href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.css"rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.js"></script>

<style>
body {
	opacity: 0;
}

.uppercase {
	text-transform: uppercase;
}

.my-error-class {
	color: #FF0000;
	font-size: 12px;
	/* red */
}
</style>
<script>
	jQuery(document).ready(function($) {

		$('#validation-form').validate({
			errorClass : "my-error-class",
			submitHandler : function(form) { // for demo
				//alert('valid form');
				return false;
			}
		});

		jQuery.validator.addMethod("noHTML", function(value, element) {
			return this.optional(element) || /^([a-z0-9]+)$/.test(value);
		}, "No HTML tags are allowed!");

	});
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());

	gtag('config', 'UA-120946860-7');
</script>

<head>
<meta charset="utf-8" />
<title>HRMS</title>
</head>

<body>
	<div class="wrapper">
		<nav id="sidebar" class="sidebar" aria-label="Site sidebar">
			<div th:replace="fragments/sidebar :: div"></div>
		</nav>
		<div class="main">
			<div th:replace="fragments/header ::div"></div>
			<main class="content">
				<div class="container-fluid">
					<div class="header">
						<h1 class="header-title">HRMS</h1>
						<nav aria-label="breadcrumb"></nav>
					</div>
					<div class="row">
						<div class="col-12">

								<div class="card">
								<div class="card-header" style="background: #f4f7fc;">
									<h5 class="card-title"
										style="text-decoration: underline; color: #dc2eaf;">Budget
										Tracking</h5>
									<input type="hidden" id="mess" name="mess"th:value="${message}">
								</div>
								<div class="card-body">
									<form id="validation-form" action="#"
										th:action="@{/saveBudgetProvision}"
										th:object="${budgetProvision}" method="post">
										
										<div class="row">

											<div class="col-12 col-lg-4">
												<label class="form-label">Budget Head</label> <label
													style="color: red">*</label> <input type="text"
													th:field="*{budgetHead}" class="form-control noHTML" title="Budget Head"
													required name="budgetHead">

											</div>

											<div class="col-12 col-lg-4">
												<label class="form-label">Department</label> <label
													style="color: red">*</label> <select class="form-control" title="Department"
													onchange="changeCategory()"
													th:field="*{department.departmentCode}" required>
													<option value="">Select Department</option>
													<option th:each="department : ${departmentList}"
														th:text="${department.deptName}"
														th:value="${department.departmentCode}"></option>

												</select>
											</div>


											<div class="col-12 col-lg-4">
												<label class="form-label">Expenditure Purpose</label> <label
													style="color: red">*</label> <input type="text" title="Expenditure Purpose"
													th:field="*{expenditurePurpose}" 
													class="form-control noHTML" required name="expenditurePurpose">

											</div>


											<div class="col-12 col-lg-4">
												<label class="form-label">File No</label> <label
													style="color: red">*</label> <input type="text"
													th:field="*{fileNo}" class="form-control noHTML" name="fileNo" title="File No" required>

											</div>

											<div class="col-12 col-lg-4">
												<label class="form-label">Date of
													Sanction/Permission</label> <label style="color: red">*</label> <input
													type="date" th:field="*{dateOfSanction}" title="Date of
													Sanction/Permission"
													class="form-control" required>

											</div>

											<div class="col-12 col-lg-4">
												<label class="form-label">Expenditure Amount</label> <label
													style="color: red">*</label> <input type="text" title="Expenditure Amount"
													
													th:field="*{expenditureAmount}" class="form-control noHTML"
													required name="expenditureAmount">

											</div>





											<div class="col-12 col-lg-4">
												<label class="form-label">Balance Amount</label> <label
													style="color: red">*</label> <input type="text" title="Balance Amount"
													th:field="*{balanceAmount}" class="form-control noHTML"
													required name="balanceAmount">

											</div>

											<div class="col-12 col-lg-4">
												<label class="form-label">Yearly Fix Amount</label> <label
													style="color: red">*</label> <input type="text" name="yearlyFixAmount"
													th:field="*{yearlyFixAmount}" class="form-control noHTML" title="Yearly Fix Amount"
													required>

											</div>


										</div>

										<p></p>

										<button type="submit" class=" btn mb-1 btn-success">
											<em class="fas fa-check"></em> &nbsp; Save
										</button>
										&nbsp;
										<button type="reset" class="btn mb-1 btn-danger" value="Reset">
											<em class="fas fa-times"></em> &nbsp;Cancel
										</button>

									</form>





								</div>
							</div>
						</div>

					
			


				<div class="col-12">
					<div class="card">
						<div class="card-header"></div>
						<div class="card-body">
							<table id="datatables-buttons"
								class="table table-striped display" style="width: 100%"
								aria-describedby="datatables-buttons">
								<thead>
									<tr>
										<th scope="col">Budget Head</th>
										<th scope="col">Department</th>
										<th scope="col">Expenditure Purpose</th>
										<th scope="col" class="text-center">Expenditure Amount</th>
										<th scope="col" class="text-center">Balance Amount</th>
										<th scope="col" class="text-center">Action</th>

									</tr>
								</thead>
								<tbody>
									<tr th:each="budget : ${listBudgetProvision}">
										<td th:text="${budget.budgetHead}"></td>
										<td th:text="${budget.department.deptName}"
											>10/098/90-12</td>
										<td th:text="${budget.expenditurePurpose}"></td>
										<td th:text="${budget.expenditureAmount}" class="text-right">10000</td>
										<td th:text="${budget.balanceAmount}" class="text-right">10000</td>
										<td><a
											th:href="@{/editBudgetProvision/{id}(id=${budget.budgetProvisionId})}"><em
												class="fa fa-edit"></em></a> <a
											th:href="@{/deleteBudgetProvision/{id}(id=${budget.budgetProvisionId})}"
											onclick="return confirm('Are you sure?')"><em
												class="fa fa-times" style="color: red"></em></a></td>
									</tr>
								</tbody>

							</table>
						</div>

					</div>
				</div>
	</div>
	</div>
			</main>

			<footer class="footer">
				<div th:replace="fragments/footer :: div"></div>
			</footer>
		</div>
	</div>
	<script>
		$(function() {
			// Datatables basic
			$('#datatables-basic').DataTable({
				responsive : true
			});
			// Datatables with Buttons
			var datatablesButtons = $('#datatables-buttons')
					.DataTable(
							{
								deferRender : true,
								scrollCollapse : true,
								scroller : false,
								responsive : true,
								lengthMenu : [
										[ 10, 20, 30, -1 ],
										[ '10 rows', '20 rows', '30 rows',
												'Show all' ] ],
								buttons : []
							});
			datatablesButtons.buttons().container().appendTo(
					"#datatables-buttons_wrapper .col-md-6:eq(0)")
		});
	</script>
<script>
		$(document).ready(function() {
			var message = document.getElementById('mess').value
			if (message != null && message !== "") {

				swal(message, "", "success", {
					button : "OK",
					hideClass : {
						popup : 'animate__animated animate__fadeOutUp'
					},
				});
			} else {
				console.log("ajax request : " + message);
			}

		});
	</script>

</body>

</html>