<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<script type="text/javascript" th:src="@{/js/settings.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/modern.css}" />
<script src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-7"></script>
<script type="text/javascript" th:src="@{/js/myJavaScript.js}"></script>


<style>
body {
	opacity: 0;
}

.uppercase {
	text-transform: uppercase;
}

#loading {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	opacity: 0.7;
	background-color: #676565;
	z-index: 99;
	text-align: center;
}

#loading-image {
	position: absolute;
	top: 25%;
	left: 50%;
	z-index: 100;
}

.my-error-class {
	color: #FF0000;
	font-size: 12px;
	/* red */
}
</style>


<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());

	gtag('config', 'UA-120946860-7');
</script>
<head>
<meta charset="utf-8" />
<title>HRMS</title>
</head>

<body>

	<div class="wrapper">
		<nav id="sidebar" class="sidebar">
			<div th:replace="/fragments/sidebar :: div"></div>
		</nav>

		<div class="main">
			<div th:replace="/fragments/header ::div"></div>
			<main class="content">
				<div class="container-fluid">

					<div class="header">
						<h1 class="header-title">Personal</h1>


					</div>

					<div class="row">

						<div class="col-12">
							<div class="card">
								<div class="card-header" style="background: #f4f7fc;">
									<h5 class="card-title"
										style="text-decoration: underline; color: #dc2eaf;">Training
										Schedule</h5>

								</div>
								<div class="card-body">
									<form id="validation-form" action="#"
										th:action="@{/updateTrainerSchedule}"
										th:object="${trainingSchedule}" method="post">
										<div class="form-row">

											<div class="form-group sm col-md-4">
												<label class="form-label">Training Schedule Code <span
													class="text-danger">*</span></label> <input type="text" title="Training Schedule Code"
													th:field="*{trScheduleCode}" class="form-control required"readonly>
											</div>

											<div class="form-group sm col-md-4">
												<label class="form-label">Training Schedule Date <span
													class="text-danger">*</span></label> <input type="date"title="Training Schedule Date"
													th:field="*{trScheduleDate}" class="form-control required"readonly>
											</div>
											<div class="form-group sm col-md-4">
												<label class="form-label">Training Requisition Code</label>
												<label style="color: red">*</label> <select
													class="form-control select2" title="Training Requisition Code"
													th:field="*{trainingRequisition.trReqCode}" required
													aria-required="true"disabled>
													<option value="">Select</option>
													<option th:each="e :${listTrainingRequistion}"
														th:value="${e.trReqCode}" th:text="${e.trReqCode}"></option>
												</select>

											</div>




										</div>

										<div class="form-row">

											<div class="form-group sm col-md-4">
												<label class="form-label">Training Requisition Date
													<span class="text-danger">*</span>
												</label> <input type="date" th:field="*{trReqDate}" title="Training Requisition Date"
													class="form-control required" readonly>
											</div>


											<div class="form-group sm col-md-4">
												<label class="form-label">Topic Serial No</label> <label
													style="color: red">*</label> <input type="text" title="Topic Serial No"
													th:field="*{topicSerialNo}" name="topicSrNo"
													class="form-control required noHTML"readonly>

											</div>
				<!-- 							<div class="form-group sm col-md-4">
												<label class="form-label">Employee Code (If Trainer)</label>
												<label style="color: red">*</label> <input type="text"
													th:field="*{trainerCode}" name="empCode"
													class="form-control required noHTML">

											</div> -->
											
												<div class="form-group sm col-md-4">
												<label class="form-label">Employee Name (If Trainer)</label>
												<select class="form-control select2"
													th:field="*{trainerCode}" required aria-required="true"  title="Employee Name (If Trainer)"
													id="trainerCode" onchange="selectTrainer()"disabled>
													<option value="">Select</option>
													<option th:each="e :${listEmployee}"
														th:value="${e.empCode}" th:text="${e.empName}"></option>
												</select>

											</div>


										</div>


										<div class="form-row">


											<div class="form-group sm col-md-4">
												<label class="form-label">Trainer Name</label> <input
													name="trainerName" title="Trainer Name"
													Type=text class="form-control required noHTML"
													th:field="*{trainer}" readonly>
											</div>


											<div class="form-group sm col-md-4">
												<label class="form-label">Training Date <span
													class="text-danger">*</span></label> <input type="date" title="Training Date"
													id="effScheduleDate" th:field="*{dateFrom}"
													class="form-control required"readonly>
											</div>
											<div class="form-group sm col-md-4">
												<label class="form-label">Training End Date </label> <input
													type="date" th:field="*{dateTo}" title="Training End Date" class="form-control"readonly>
											</div>

										</div>


										<div class="form-row">

											<!-- <div class="form-group sm col-md-4">
												<label class="form-label">Max Limit For Such Loan
												 <span class="text-danger">*</span></label> 
												 <input type="text" id="amount" name="amount" title="Amount" class="form-control required">
											</div> -->




										</div>

										<div class="form-row">
											<div class="form-group sm col-md-4">
												<label class="form-label">Training Agency Name </label> <input
													type="text" th:field="*{trainerAgency}" title="Training Agency Name"
													name="trainingAgency"
													class="form-control required noHTML"readonly>
											</div>
										</div>
									<!-- 	<button type="submit" title="Update" class="btn btn-primary">
											<em class="fas fa-check"></em> &nbsp;Update
										</button> -->
										&nbsp;
										<button type="button" class="btn btn-outline-primary" title="Cancel"
											onclick="window.location.href='../trainingSchedule';">
											<em class="fas fa-times"></em> &nbsp;Back
										</button>

									</form>
								</div>

							</div>

						</div>






					</div>

				</div>
			</main>
			<footer class="footer">
				<div th:replace="/fragments/footer :: div"></div>
			</footer>
		</div>
	</div>
	<script>
		$(function() {

			$("input[name='appDate']").daterangepicker({
				singleDatePicker : true,
				autoApply : true,
				locale : {
					format : 'YYYY/MM/DD'
				},
				showDropdowns : true
			});

			$("input[name='effScheduleDate']").daterangepicker({
				singleDatePicker : true,
				autoApply : true,
				locale : {
					format : 'YYYY/MM/DD'
				},
				showDropdowns : true
			});
			$("input[name=\"dateOfJoining\"]").daterangepicker({
				singleDatePicker : true,
				autoApply : true,
				locale : {
					format : 'DD/MM/YYYY'
				},
				showDropdowns : true
			});
			$("input[name='dateOfRetirement']").daterangepicker({
				singleDatePicker : true,
				autoApply : true,
				locale : {
					format : 'DD/MM/YYYY'
				},
				showDropdowns : true
			});
			$("input[name='batchYear']").datepicker({

				autoApply : true,
				format : "yyyy",
				autoclose : true,
				minViewMode : "years",
				locale : {
					format : 'YYYY'
				},
				showDropdowns : true
			});

			$("input[name=\"orderDate\"]").daterangepicker({
				singleDatePicker : true,
				autoApply : true,
				locale : {
					format : 'DD/MM/YYYY'
				},
				showDropdowns : true
			});

			$("input[name=\"dov\"]").daterangepicker({
				singleDatePicker : true,
				autoApply : true,
				locale : {
					format : 'DD/MM/YYYY'
				},
				showDropdowns : true
			});
			$("input[name=\"doi\"]").daterangepicker({
				singleDatePicker : true,
				autoApply : true,
				locale : {
					format : 'DD/MM/YYYY'
				},
				showDropdowns : true
			});

			// Datatables basic
			$('#datatables-basic').DataTable({
				responsive : true
			});
			// Datatables with Buttons
			var datatablesButtons = $('#datatables-buttons')
					.DataTable(
							{
								deferRender : true,
								scrollCollapse : true,
								scroller : false,
								responsive : true,
								lengthMenu : [
										[ 10, 20, 30, -1 ],
										[ '10 rows', '20 rows', '30 rows',
												'Show all' ] ],
								buttons : []
							});
			datatablesButtons.buttons().container().appendTo(
					"#datatables-buttons_wrapper .col-md-6:eq(0)")
		});
	</script>








	<script>
		$('#loading').show();
		$.ajax({
			// Other ajax parameters
			success : function() {
				// hiding the image here
				debugger;
				$('#loading').hide();
			}
		});
	</script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>


</body>
</html>