<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<script src="js/settings.js"></script>
<script src="js/app.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/modern.css}" />
<script src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-7"></script>

<script type="text/javascript" th:src="@{/js/myJavaScript.js}"></script>

<style>
body {
	opacity: 0;
}

.uppercase {
	text-transform: uppercase;
}

.my-error-class {
	color: #FF0000;
	font-size: 12px;
	/* red */
}
</style>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());

	gtag('config', 'UA-120946860-7');
</script>
<head>
<meta charset="utf-8" />
<title>HRMS</title>
</head>
<body>
	<div class="wrapper">
		<nav id="sidebar" class="sidebar" aria-label="Site sidebar">
			<div th:replace="fragments/sidebar :: div"></div>
		</nav>
		<div class="main">
			<div th:replace="fragments/header ::div"></div>
			<main class="content">
				<div class="container-fluid">
					<div class="header">
						<h1 class="header-title">HRMS</h1>
						<nav aria-label="breadcrumb"></nav>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header" style="background: #f4f7fc;">
									<h6 class="card-title"
										style="text-decoration: underline; color: #dc2eaf;">Latest
										Update</h6>
								</div>
								<div class="card-body">
									<form id="validation-form" action="#"
										th:action="@{/updateLatestUpdate}" th:object="${latestUpdate}"enctype="multipart/form-data"
										method="post">
										<div class="form-row">
											<div class="form-group sm col-md-4">
												<label>ID </label> <label style="color: red">*</label> <input
													type="text" class="form-control" id="id" name="id"
													th:value="${latestUpdateEdit.id}" readonly>
											</div>


											<div class="form-group sm col-md-4">
												<label>Title </label> <label style="color: red">*</label> <input
													type="text" class="form-control" id="title" name="title"
													th:value="${latestUpdateEdit.title}" required
													aria-required="true">
											</div>
											<div class="form-group sm col-md-4">
												<label> Description </label>

												<textarea class="form-control" id="ltDesc" name="ltDesc"
													maxlength="1999" th:field="${latestUpdateEdit.ltDesc}"
													style="resize: none;" rows="1"></textarea>
											</div>



											<div class="form-group sm col-md-4">
												<label>DOI </label> <label style="color: red">*</label> <input
													type="Date" class="form-control" id="doi" name="doi"
													th:value="${latestUpdateEdit.doi}" required
													aria-required="true">
											</div>


											<div class="form-group sm col-md-4">
												<label>Branch</label> <input type="text"
													class="form-control" id="branch" name="branch"
													th:value="${latestUpdateEdit.branch}">
											</div>
											
											
											<div class="form-group sm col-md-4">
												<label class="form-label">File</label>
												<div>
													<input id="fileUpload" class="validation-file" th:text="${latestUpdateEdit.file}"
														name="fileUpload" title="File" maxlength="199"
														multiple="multiple" type="file" accept="application/pdf" />
												</div>
											</div>



										</div>
										<button type="submit" class="btn btn-primary">Update</button>
										&nbsp;
										<button type="button" class="btn btn-outline-primary"
											onclick="window.location.href='../latestUpdate';">Cancel</button>
									</form>
								</div>

							</div>
						</div>

					</div>
				</div>

			</main>
			<footer class="footer">
				<div th:replace="fragments/footer :: div"></div>
			</footer>
		</div>
	</div>



</body>
</html>