<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<script src="./js/settings.js"></script>
<script src="./js/app.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/modern.css}" />

<script src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-7"></script>

<script type="text/javascript" th:src="@{/js/myJavaScript.js}"></script>


<style>
body {
	opacity: 0;
}

.uppercase {
	text-transform: uppercase;
}

.my-error-class {
	color: #FF0000;
	font-size: 12px;
	/* red */
}
</style>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());

	gtag('config', 'UA-120946860-7');
</script>
<head>
<meta charset="utf-8" />
<title>HRMS</title>
</head>
<body>
	<div class="wrapper">
		<nav id="sidebar" class="sidebar" aria-label="Site sidebar">
			<div th:replace="fragments/sidebar :: div"></div>
		</nav>
		<div class="main">
			<div th:replace="fragments/header ::div"></div>
			<main class="content">
				<div class="container-fluid">

					<div class="header">
						<h1 class="header-title">Master</h1>
						<nav aria-label="breadcrumb"></nav>
					</div>

					<div class="row">
						<div class="col-12">
							<div class="card">
									<div class="card-header" style="background: #f4f7fc;">
								<h5 class="card-title"
										style="text-decoration: underline; color: #dc2eaf;">Section
										Master</h5>

								</div>
								<div class="card-body">
									<form id="validation-form" action="#"
										th:action="@{/updateSection/}" th:object="${sectupdate}"
										method="post">
										<div class="row">
											<div class="col-12 col-lg-6">
												<div class="form-group">
													<label>Section Code </label> <label style="color: red">*</label>

													<input type="text" class="form-control" id="sectionCode"
														maxlength="12" name="sectionCode"
														th:value="${sectionEdit.sectionCode}" readonly>
												</div>

												<div class="form-group">
													<label>Section Description </label> <label
														style="color: red">*</label> <input type="text"
														class="form-control noHTML" maxlength="50"
														id="sectionDesc" name="sectionDesc"
														th:value="${sectionEdit.sectionDesc}">
												</div>


												<div class="form-group">
													<label class="form-label">Status</label>
													<div class="custom-controls-stacked">

														<label class="radio-inline"> <input type="radio"
															value="Y" name="active"
															th:checked="${sectionEdit.active}==Y " />Active
														</label> <label class="radio-inline"> <input type="radio"
															value="N" name="active"
															th:checked="${sectionEdit.active}==N" />Inactive
														</label>
													</div>
												</div>
											</div>
											<div class="col-12 col-lg-6">
												<div class="form-group">

													<label class="form-label">Amount Limit</label> <label
														style="color: red">*</label> <input type="text"
														class="form-control noHTML" maxlength="12"
														pattern="\d{1,12}" id="amountLimit" name="amountLimit"
														th:value="${sectionEdit.amountLimit}" required
														aria-required="true">
												</div>

											</div>
										</div>
										<button type="submit" class="btn btn-primary">Update</button>
										<button type="button" class="btn btn-outline-primary"
											onclick="window.location.href='../sectionMaster';">Cancel</button>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</main>

			<footer class="footer">
				<div th:replace="./fragments/footer :: div"></div>
			</footer>
		</div>
	</div>

</body>
</html>