<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<script type="text/javascript" th:src="@{/js/settings.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/modern.css}" />
<script type="text/javascript" th:src="@{/js/ajax_leaveRequest.js}"></script>
<script src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-7"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/myStyle.css}" />
<link  href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.css"rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.js"></script>
<script type="text/javascript" th:src="@{/js/myJavaScript.js}"></script>


<style>
body {
	opacity: 0;
}

.uppercase {
	text-transform: uppercase;
}

.dropdown-menu {
	min-width: 250px;
}

.my-error-class {
	color: #FF0000;
	font-size: 12px;
	/* red */
}
</style>
<script>
	jQuery(document).ready(function($) {
		

		$('#validation-form').validate({
			errorClass : "my-error-class",
			submitHandler : function(form) { // for demo
				//alert('valid form');
				return true
			}
		});

		jQuery.validator.addMethod("noHTML", function(value, element) {
			return this.optional(element) || /^([a-zA-Z0-9]+)$/.test(value);
		}, "No HTML tags are allowed!");

	});

	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());

	gtag('config', 'UA-120946860-7');
</script>

<head>
<meta charset="utf-8" />
<title>HRMS</title>
</head>


<body>

	<div class="wrapper">
		<nav id="sidebar" class="sidebar">
			<div th:replace="/fragments/sidebar :: div"></div>
		</nav>
		<div class="main">
			<div th:replace="/fragments/header ::div"></div>
			<main class="content">
				<div class="container-fluid">

					<div class="header">
						<h1 class="header-title">Personal</h1>


					</div>
					
					<form id="validation-form" action="#"
						th:action="@{/saveemployeeunderRule}"
						th:object="${employeeUnderRuleUtil}" method="post"
						enctype="multipart/form-data">

						<div class="row">
							<div class="col-12">
								<div class="card">
									<div class="card-header" style="background: #f4f7fc;">
									<h5 class="card-title"
										style="text-decoration: underline; color: #dc2eaf;">Employee
											Detail Information</h5>
											<input type="hidden" id="mess" name="mess"th:value="${message}">
									</div>

									<div class="card-body">

										<div class="row">
											<div th:if="${session.message}"
												class="alert alert-primary alert-dismissible fade show">
												<p class="text-center" th:text="${session.message.content}"></p>
												<th:block th:text="${#session.removeAttribute('message')}"></th:block>
												<button type="button" class="close" data-dismiss="alert">&times;</button>


											</div>
										</div>

										<div class="container">

											<div class="row">
												<div class="col-12 col-lg-4">
													<div class="form-group">
														<label> Department </label> 
														<label style="color: red">*</label> 
														<select class="form-control"
															id="departmentCode" onchange="changeDepartment()"
															name="departmentCode" required title="Department Name">
															<option value="">Select Department</option>
															<option th:each="dept : ${departmentList}"
																th:text="${dept.deptName}"
																th:value="${dept.departmentCode}"></option>
														</select>
													</div>
												</div>
												<div class="col-12 col-lg-4">
													<label class="form-label">Employee</label> 
													<label style="color: red">*</label> 
													<select class="form-control select2" id="employeeCode"
														title="Employee" name="empCode" required>
														<option value=''>--Select--</option>


													</select>
												</div>

												<div class="col-12 col-lg-4">
													<label class="form-label">Type</label>
													<label style="color: red">*</label> 
													 <select
														class="form-control select2" id="media" title="type"
														name="underRuleType" required>
														<option value="">--Type--</option>
														<option value="Under Rule-7">Under Rule-7</option>
														<option value="Under Rule-8">Under Rule-8</option>
														<option value="Vigilance Inquiry">Vigilance
															Inquiry</option>
														<option value="Suspension">Suspension</option>
														<option value="ACR">ACR</option>
														<option value="APR">APR</option>
														<option value="Training">Training</option>
														<option value="Leave Account">Leave Account</option>
														<option value="Deputation">Deputation</option>
														<option value="On Additional Charge">On
															Additional Charge</option>
													</select>
												</div>

											</div>
											<div class="row"></div>


										</div>
									</div>
								</div>
							</div>
                           
							<div class="col-12">
								<div class="card">
									<div class="card-header"></div>
									<div class="card-body">
										<div id="validation-step-3">

											<div class="col-sm-12" style="text-align: right">




												<a id="add_row" class="fa fa-plus" aria-hidden="true"
													style="font-size: 20px; color: #001080"></a>&nbsp;&nbsp;&nbsp;
												<a id='delete_row' class="fa fa-trash"
													style="font-size: 20px; color: #399490fc"
													aria-hidden="true"></a>
											</div>


											<table id="example" aria-describedby="example"
												class="table table-striped display" style="width: 100%">
												<thead>
													<tr>

														<th scope="col" class="text-center">Memo Number</th>
														<th scope="col" class="text-center">Memo Date</th>
														<th scope="col" class="text-center">Remarks</th>

														<th scope="col" class="text-center">File Upload</th>


													</tr>
												</thead>
												<tbody>
													<tr id="addr0">


														<td><input type="text" id="memoNumber0"
															class="noHTML" title="Memo Number"
															name="employeeUnderRule[0].memoNo"></td>

														<td><input type="date" id="memoDate0"
															 title="Memo Date"
															name="employeeUnderRule[0].memoDate"></td>

														<td><input type="text" id="remarks0"
															class="noHTML" title="remarks"
															name="employeeUnderRule[0].remarks"></td>

														<td><div class="upload-btn-wrapper">
																<button class="upload-file">
																	<i class="fas fa-cloud-upload-alt"></i>Upload a file
																</button>
																<input type="file" id="memoFile0" title="Upload File"
																	name="underRuleFile">

															</div></td>

													</tr>
													<tr id='addr1' />

												</tbody>

											</table>
										</div>

							       	<hr>
										<button type="submit" class=" btn mb-1 btn-success">
											<em class="fas fa-check"></em> &nbsp; Save
										</button>
										&nbsp;
										<button type="reset" class="btn mb-1 btn-danger" value="Reset">
											<em class="fas fa-times"></em> &nbsp;Cancel
										</button>
											

									</div>
								</div>
							</div>
					
						</div>
					
					</form>
				
				
				<p></p>
					<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header"></div>
						<div class="card-body">
							<table id="datatables-buttons"
								class="table table-striped display" style="width: 100%"
								aria-describedby="example">
								<thead>
									<tr>
										<th scope="col">Employee Name</th>
										<th scope="col">Employee Type</th>
										<!-- <th scope="col">Memo Date</th>
										<th scope="col">Memo Type</th>
										<th scope="col">Memo File</th> -->
										<th scope="col">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="list : ${listEmployeeUnderRule}">
										<td th:text="${list.employee.empName}"></td>
										<td th:text="${list.underRuleType}"></td>

										<!-- <td th:text="${#dates.format(list.memoDate, 'dd-MM-yyyy')}"></td>
										<td th:text="${list.underRuleType}"></td> -->


										<!-- <td><a th:href="@{/download1/{id}(id=${list.eod})}">
												<span th:text="${list.underRuleFile}"></span>
										</a></td> -->


										<td><a
											th:href="@{editemployeeUnderrule/{empCode}/{empType}(empCode=${list.employee.empCode},empType=${list.underRuleType})}"><em
												class="align-middle fas fa-fw fa-pen"></em></a> <a
											th:href="@{/deleteemployeeunderRule/{id}(id=${list.eod})}"
											onclick="return confirm('Are you sure?')"><em
												class="align-middle fas fa-fw fa-trash"></em></a></td>
									</tr>
								</tbody>

							</table>
						</div>

					</div>
				</div>
			</div>
</div>
			</main>
			<footer class="footer">
				<div th:replace="/fragments/footer :: div"></div>
			</footer>
		</div>
	</div>


	<script>
		var idIndex = 0;
	</script>


	<script th:inline="javascript">
		$(document).ready(function() {
			var message = document.getElementById('mess').value
			if (message != null && message !== "") {

				swal(message, "", "success", {
					button : "OK",
					hideClass : {
						popup : 'animate__animated animate__fadeOutUp'
					},
				});
			} else {
				console.log("ajax request : " + message);
			}
			$('#example').DataTable({
				"scrollY" : 200,
				"scrollX" : true,
				deferRender : true,
				scrollCollapse : true,

			});
		});

		$(function() {
			// Datatables basic
			$('#datatables-basic').DataTable({
				responsive : true
			});
			// Datatables with Buttons
			var datatablesButtons = $('#datatables-buttons')
					.DataTable(
							{
								deferRender : true,
								scrollCollapse : true,
								scroller : false,
								responsive : true,
								lengthMenu : [
										[ 5, 10, 15, -1 ],
										[ '5 rows', '10 rows', '15 rows',
												'Show all' ] ],
								buttons : []
							});
			datatablesButtons.buttons().container().appendTo(
					"#datatables-buttons_wrapper .col-md-6:eq(0)")
		});

		$(document)
				.ready(
						function() {
							console.log("click function...");
							var i = 1;
							counter = i;//<option value=" ">Select Requisition Code</option>

							$("#add_row")
									.click(
											function() {
												idIndex++;
												$('#addr' + i)
														.html(

																"<td><input type='text' id='memoNumber'"+i+"class='form-control noHTML' title='Memo Number'name='employeeUnderRule["+i+"].memoNo'></td>"
																		+ "<td><input type='date' id='memoDate'"+i+"class='form-control' title='Memo Number'name='employeeUnderRule["+i+"].memoDate'></td>"
																		+ "<td><input type='text' id='remarks'"+i+"class='form-control noHTML' title='Memo Number'name='employeeUnderRule["+i+"].remarks'></td>"
																		+ "<td>  <div class='upload-btn-wrapper'><button class='upload-file'><i class='fas fa-cloud-upload-alt'> </i>Upload a file </button>  <input type='file' id='memoFile'"+i+"class='form-control' title='Memo Number'name='underRuleFile'></div></td>"

														);

												$('#example').append(
														'<tr id="addr'
																+ (i + 1)
																+ '"></tr>');
												$('#_cr').val(i + 1);
												i++;
												//ajaxQueryForRequisitionCode();
											});

							$("#delete_row").click(function() {
								if (i > 1) {
									$("#addr" + (i - 1)).html('');
									$('#_cr').val(i - 1);
									i--;
								}
							});

						});
	</script>






	<script>
		function changeDepartment() {

			var deptCode = document.getElementById("departmentCode").value;

			var x = document.getElementById("employeeCode");

			var length = x.options.length;
			for (i = length - 1; i >= 1; i--) {
				x.options[i] = null;
			}

			console.log("ajax request : " + deptCode);

			if (deptCode != "") {
				const xhr = new XMLHttpRequest();
				xhr.open('GET', 'getEmployeeByDeptCode/' + deptCode, true);
				xhr.getResponseHeader('content-type', 'application/json');
				xhr.onload = function() {
					if (this.status === 200) {
						let obj = JSON.parse(this.responseText);
						console.log(obj);

						$.each(obj, function(i, item) {
							console.log(" i " + i + " item : " + item.empName);

							$('#employeeCode').append(
									$('<option>').val(this.empCode).text(
											this.empName));
						});

						//$('#leaveDepartmentId').val(obj.departmentCode);

					} else {
						console.error("some error occured");
					}

				}
				xhr.send();
			}

		}

		/* function changeEmployee(){
			var empCode = document.getElementById("leaveEmpName").value;
			$('#leaveEmpId').val(empCode);
		} */
	</script>




</body>

</html>