<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<script type="text/javascript" th:src="@{/js/settings.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/modern.css}" />
<script src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-7"></script>

<script type="text/javascript" th:src="@{/js/myJavaScript.js}"></script>


<style>
body {
	opacity: 0;
}

.uppercase {
	text-transform: uppercase;
}
</style>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());

	gtag('config', 'UA-120946860-7');
</script>
<head>
<meta charset="utf-8" />
<title>HRMS</title>
</head>
<body>
	<div class="wrapper">
		<nav id="sidebar" class="sidebar" aria-label="Site sidebar">
			<div th:replace="fragments/sidebar :: div"></div>
		</nav>
		<div class="main">
			<div th:replace="fragments/header ::div"></div>
			<main class="content">
				<div class="container-fluid">
					<div class="header">
						<h1 class="header-title">HRMS</h1>
						<nav aria-label="breadcrumb"></nav>
					</div>
					<div class="row">
						<div class="col-12">

							<div class="card" style="border-radius: 2.2rem">
								<div class="card-header">
									<h5 class="card-title">Leave Transaction Report</h5>
									<div class="alert-outline">
										<div th:if="${message}" th:text="${message}"
											style="color: red"></div>
									</div>
								</div>
								<div class="card-body">
									<form id="validation-form" action="#"
										th:action="@{/createleaveTransactionReport}" method="post">
										<div class="row">


											<div class="col-12 col-lg-6">
												<div class="form-group">
													<label class="form-label">Select Department</label> <label
														style="color: red">*</label> <select
														class="form-control select2" id="select_department"
														onchange="changeDepartment()" name="deptCode">
														<option value=''>--Select--</option>
														<option value='ALL'>All</option>
														<option th:each="department : ${departmentList}"
															th:text="${department.deptName}"
															th:value="${department.departmentCode}"></option>



													</select>



												</div>
											</div>

											<div class="col-12 col-lg-6">
												<div class="form-group">
													<label class="form-label">Employee Name</label> <label
														style="color: red">*</label> <select
														class="form-control select2" id="employeeName"
														name="empCode" >
														<option value=''>--All--</option>
														<option value='ALL'>All</option>
														<!-- <option th:each="employee : ${listLtaRequest}"
															th:text="${employee.empCode.empName}"
															th:value="${employee.empCode.empCode}"></option> -->



													</select>



												</div>
											</div>





											<div class="col-12 col-lg-6">
												<label class="form-label">From Date</label> <label
													style="color: red">*</label> <input type="date" name="fromDate"
													class="form-control" required>

											</div>

											<div class="col-12 col-lg-6">
												<label class="form-label">To Date</label> <label
													style="color: red">*</label> <input type="date" name="toDate"
													class="form-control" required>

											</div>


										</div>

										<p></p>
										<!-- <Button type="submit">Generate Pdf</Button> -->
										<Button type="submit" class="btn btn-primary">Generate Sheet</Button>

										<!-- <a href="#" th:href="@{/createAttendenceDatewise(param1="'+name+'")}">Download Excel Sheet</a>  -->

										<!-- <Button id = "generate_pdf_button" onclick="generatePdfFunction()">Generate Pdf</Button> -->
									</form>





								</div>
							</div>
						</div>

					</div>
				</div>

			</main>

			<footer class="footer">
				<div th:replace="fragments/footer :: div"></div>
			</footer>
		</div>
	</div>
	<script>
		$(function() {
			// Datatables basic
			$('#datatables-basic').DataTable({
				responsive : true
			});
			// Datatables with Buttons
			var datatablesButtons = $('#datatables-buttons')
					.DataTable(
							{
								deferRender : true,
								scrollCollapse : true,
								scroller : false,
								responsive : true,
								lengthMenu : [
										[ 10, 20, 30, -1 ],
										[ '10 rows', '20 rows', '30 rows',
												'Show all' ] ],
								buttons : []
							});
			datatablesButtons.buttons().container().appendTo(
					"#datatables-buttons_wrapper .col-md-6:eq(0)")
		});
	</script>

	<script>
		function changeDepartment() {

			var selectedDepartmentValue = document
					.getElementById("select_department").value;
			console.log("select departmentvalue  : " + selectedDepartmentValue);
			//$('#employeeName').append($('<option>', {value:0, text:'Select Employee'}));

			var x = document.getElementById("employeeName");
			console.log("x value : " + x);

			var length = x.options.length;
			for (i = length - 1; i >= 1; i--) {
				x.options[i] = null;
			}

			if (selectedDepartmentValue !== ""
					|| document.getElementById("select_department").selected == false) {
				const xhr = new XMLHttpRequest();
				xhr.open('GET', 'getEmployeeByDeptCode/'
						+ selectedDepartmentValue, true);
				xhr.getResponseHeader('content-type', 'application/json');
				xhr.onload = function() {
					if (this.status === 200) {
						let obj = JSON.parse(this.responseText);
						console.log(obj);

						console.log("employee name : " + obj[0].empName)
						$('select[name="employeeName"]')
								.prop("disabled", false);
						// $('select[name="employeeName"]').html(obj.empName);

						$.each(obj, function(i, item) {
							console.log(" i " + i + " item : " + item.empName);
							// $('#employeeName').append($('<option>', {value:i, text:item.empName}));
							$('#employeeName').append(
									$('<option>').val(this.empCode).text(
											this.empName));
						});

					} else {
						console.error("some error occured");
					}

				}
				xhr.send();
			} else {
				$('select[name="employeeName"]').prop("disabled", true);
			}

		}
	</script>

	<script>
		function generatePdfFunction() {

			var designationName = document.getElementById("designation_name").value;

			console.log(" designation name : " + designationName);

			const xhr = new XMLHttpRequest();
			xhr.open('POST', 'employeeDetailPdf/' + designationName, true);
			xhr.getResponseHeader('content-type', 'application/json');
			xhr.onload = function() {
				if (this.status === 200) {
					let obj = JSON.parse(this.responseText);
					console.log(obj);

				} else {
					console.error("some error occured");
				}

			}
			xhr.send();

		}
	</script>
	
	<script type="text/javascript">
		$(document).ready(
			function(){
				
			}		
		)
	</script>
</body>
</html>




