<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<script type="text/javascript" th:src="@{/js/settings.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/modern.css}" />
<script src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-7"></script>
<link  href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.css"rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.js"></script>

<script type="text/javascript" th:src="@{/js/myJavaScript.js}"></script>


<style>
body {
	opacity: 0;
}

.uppercase {
	text-transform: uppercase;
}

#loading {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	opacity: 0.7;
	background-color: #676565;
	z-index: 99;
	text-align: center;
}

#loading-image {
	position: absolute;
	top: 25%;
	left: 50%;
	z-index: 100;
}

.my-error-class {
	color: #FF0000;
	font-size: 12px;
	/* red */
}
</style>
<script>
	$(document)
			.ready(
					function() {

						var i = 1;
						$("#add_row")
								.click(
										function() {
											$('#addr' + i)
													.html(
															"<td><input name='locDate"+i+"' type='Date'  class='form-control txt input-md'/> "
																	+ "</td><td><input  name='startPlace"+i+"' type='text' placeholder='Start Place'  class='form-control input-md' noHTML>"
																	+ "</td><td><input  name='vistPlace"+i+"' type='text'  placeholder='Visit Place'class='form-control input-md' noHTML>"
																	+ "</td><td><input  name='purposeOfVist"+i+"' type='text' placeholder='Purpose Of Vist'  class='pas form-control input-md noHTML'></td>"
																	+

																	"<td><select class=' form-control input-md' id='modeOfTravel'name='modeOfTravel"+i+"'><option value=' '>Select</option><option value='taxi'>Taxi</option><option value='car'>Car</option></select></td>"
																	+

																	"<td><input  name='distanceKm"+i+"' type='text' placeholder='Distance In Km'  class='form-control input-md noHTML'></td>"
																	+ "<td><input  name='ltaRate"+i+"' type='text' placeholder='Lta Rate'  class='form-control input-md noHTML'></td>"
																	+ "<td><input  name='actualAmount"+i+"' type='text' placeholder='Actual Amount'  class=' txt form-control input-md noHTML'></td>"
																	+ "<td><input  name='claimedAmount"+i+"' type='text' placeholder='claimed Amount '  class='pas form-control input-md noHTML'></td>"
																	+

																	"");

											$('#example').append(
													'<tr id="addr' + (i + 1)
															+ '"></tr>');
											$('#_cr').val(i + 1);

											i++;
										});

						$("#delete_row").click(function() {
							if (i > 1) {
								$("#addr" + (i - 1)).html('');
								$('#_cr2').val(i - 1);
								i--;
								calculateSum(), calculateSumtotalPassing()
							}
						});

						function calculateSum() {

							var sum = 0;
							//iterate through each textboxes and add the values
							$(".txt").each(
									function() {

										//add only if the value is number
										if (!isNaN(this.value)
												&& this.value.length != 0) {
											sum += parseFloat(this.value);
										}

									});
							//.toFixed() method will roundoff the final sum to 2 decimal places
							var fds = sum;
							//$("#").html(sum.toFixed(2));
							$("#totalClaim").val(sum);

						}

						$("table").on("keyup", ".txt", function() {
							calculateSum();
						});

						function calculateSumtotalPassing() {

							var sum = 0;
							//iterate through each textboxes and add the values
							$(".pas").each(
									function() {

										//add only if the value is number
										if (!isNaN(this.value)
												&& this.value.length != 0) {
											sum += parseFloat(this.value);
										}

									});
							//.toFixed() method will roundoff the final sum to 2 decimal places
							var fds = sum;
							//$("#").html(sum.toFixed(2));
							$("#totalPas").val(sum);

						}

						$("table").on("keyup", ".pas", function() {
							calculateSumtotalPassing();
						});
						
						
						var message = document.getElementById('mess').value
						if (message != null && message !== "") {

							swal(message, "", "success", {
								button : "OK",
								hideClass : {
									popup : 'animate__animated animate__fadeOutUp'
								},
							});
						} else {
							console.log("ajax request : " + message);
						}
	
						
						
						
						

					});
</script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());

	gtag('config', 'UA-120946860-7');
</script>
<head>
<meta charset="utf-8" />
<title>HRMS</title>
</head>

<body>

	<div class="wrapper">
		<nav id="sidebar" class="sidebar">
			<div th:replace="/fragments/sidebar :: div"></div>
		</nav>

		<div class="main">
			<div th:replace="/fragments/header ::div"></div>
			<main class="content">
				<div class="container-fluid">

					<div class="header">
						<h1 class="header-title">Personal</h1>


					</div>
					<form id="validation-form" action="#"
						th:action="@{/saveLocalConvyence}" th:object="${localConvyence}"
						method="post">
						      <div class="row">
							<div class="col-12">
								<div class="card">
									<div class="card-header" style="background: #f4f7fc;">
										<h5 class="card-title" style="text-decoration: underline;color: #dc2eaf;">Local
											Conveyance</h5>
											<input type="hidden" id="mess" name="mess"th:value="${message}">
									</div>
									<div class="card-body">
										<div class="form-row">
											<div class="form-group sm col-md-4">

												<label class="form-label">ID </label> <input name="nn"
													type="text" id="nn" class="form-control" readonly>
											</div>

											<div class="form-group sm col-md-4">
												<label class="form-label">Employee Code</label> <label
													style="color: red">*</label> <select
													class="form-control select2" name="empCode" id="empCode" title="Employee Code"
													onchange="myFunctionEmpCode()" required
													aria-required="true">
													<option value="">Select Employee</option>
													<option th:each="e :${listEmployee}"
														th:value="${e.getEmpCode()}" th:text="${e.getEmpCode()}"></option>
												</select>

											</div>
											<div class="form-group sm col-md-4">
												<label class="form-label">Employee Name </label> <input
													type="text" id="empName" name="empName" title="Employee Name"
													class="form-control" readonly>
											</div>




										</div>

										<div class="form-row">


											<div class="form-group sm col-md-4">
												<label class="form-label">Employee Payee Code </label> <input
													type="text" id="empPayCode" name="empPayCode"
													title="empPayCode" class="form-control" readonly>
											</div>


											<div class="form-group sm col-md-4">
												<label class="form-label"> Department </label> <input
													Type="text" class="form-control" name="deptName" title="Department"
													id="deptName" readonly>

											</div>


											<div class="form-group sm col-md-4">
												<label class="form-label">Designation</label> <input
													Type=text class="form-control required" name="desgName"
													id="desgName" title="Designation" readonly>

											</div>
										</div>
										<div class="form-row">
											<div class="form-group sm col-md-4">
												<label class="form-label">Date</label> <span
													class="text-danger">*</span> <input type="date" title="Date"
													id="localConvDate" name="localConvDate"
													class="form-control required">
											</div>
										</div>

									</div>
								</div>
							</div>
							
							</div>
							
							<div class="row">
							<div class="col-12">
								<div class="card">
									<div class="card-header"></div>
									<div class="card-body">
										<input id="_cr" name="_cr" type="hidden" value="1"
											class="noHTML">
										<div class="col-sm-12" style="text-align: right;">


											<a id="add_row" class="fa fa-plus" aria-hidden="true"
												style="font-size: 28px; color: #001080"></a>&nbsp;&nbsp;&nbsp;
											<a id='delete_row' class="fa fa-trash"
												style="font-size: 28px; color: #399490fc" aria-hidden="true"></a>
										</div>
										<div class="table-responsive">
											<table id="example" aria-describedby="example" class="table"
												style="width: 100%">
												<thead>
													<tr>
														<th scope="col" class="text-center">Date</th>
														<th scope="col" class="text-center">Starting Place.</th>
														<th scope="col" class="text-center">Visiting Place</th>
														<th scope="col" class="text-center">Purpose Of Visit</th>
														<th scope="col" class="text-center">Mode Of Travel</th>

														<th scope="col" class="text-center">Distance In Km</th>
														<th scope="col" class="text-center">Lta Rate</th>
														<th scope="col" class="text-center">Actual Amount</th>
														<th scope="col" class="text-center">Claimed Amount</th>

													</tr>
												</thead>
												<tbody>
													<tr id='addr0'>

														<td><input type="Date" name='locDate0'title="Date"
															placeholder='Date' required /></td>
														<td><input type="text" name='startPlace0'title="Starting Place"
															placeholder='Start Place' required class='noHTML' /></td>
														<td><input type="text" name='vistPlace0'title="Visiting Place"
															placeholder='Vist Place' required class='noHTML' /></td>
														<td><input type="text" name='purposeOfVist0'title="Purpose Of Visit"
															placeholder='Purpose Of Vist' class='noHTML' /></td>

														<td><select class=" required"  title="Mode Of Travel" required
															name="modeOfTravel0" id="modeOfTravel0">
																<option value="">Select Type</option>
																<option th:Value="taxi">Taxi</option>
																<option th:Value="car">Car</option>
																<option th:Value="bus">Bus</option>
																<option th:Value="train">Train</option>
														</select></td>


														<td><input type="text" name='distanceKm0'
															placeholder='Distance In Km' class='noHTML' /></td>
														<td><input type="text" name='ltaRate0'
															placeholder='Lta Rate' class='noHTML' /></td>
														<td><input type="text" name='actualAmount0'title="Actual Amount"
															placeholder='Actual Amount' class="txt noHTML" required /></td>
														<td><input type="text" name='claimedAmount0' title="Claimed  Amount"
															placeholder='Claimed  Amount' class="pas noHTML" required /></td>
													</tr>
													<tr id='addr1'></tr>

												</tbody>

												<tr>
													<td colspan="6"></td>

													<td><label class="form-label">Total Amount</label></td>
													<td><input type="text" id="totalClaim"
														name='totalClaim' placeholder='Actual Amount' title="Actual Amount"
														class="form-control noHTML" required aria-required="true" /></td>
													<td><input type="text" id="totalPas" name='totalPas' title="Claimed Amount"
														placeholder='Claimed Amount' class="form-control noHTML"
														required aria-required="true" /></td>

													<td></td>
												</tr>
											</table>
											
											
											
										</div>
										<hr>
										<button type="submit" class=" btn mb-1 btn-success">
											<em class="fas fa-check"></em> &nbsp; Save
										</button>
										&nbsp;
										<button type="reset" class="btn mb-1 btn-danger" value="Reset">
											<em class="fas fa-times"></em> &nbsp;Cancel
										</button>
											

									</div>
								</div>
							</div>
					
						</div>
					
					</form>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-header"></div>
							<div class="card-body">
								<table id="datatables-buttons"
									class="table table-striped display" style="width: 100%"
									aria-describedby="example">
									<thead>
										<tr>
											<th scope="col">Local Conveyance id</th>
											<th scope="col">Employee Name</th>
											<th scope="col">Department</th>
											<th scope="col">Designation</th>
											<th scope="col">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="listOfloc : ${listOfLoc}">
											<td th:text="${listOfloc.localConvId}"></td>
											<td th:text="${listOfloc.empName}"></td>
											<td th:text="${listOfloc.deptName}"></td>
											<td th:text="${listOfloc.desgName}"></td>
											<td><th:block th:switch="${listOfloc.approvalStatus}">
													<div th:case="'N'">
														<a
															th:href="@{/editLocalConvyence/{id}(id=${listOfloc.localConvId})}"><em
															class="fa fa-edit"></em></a> <a
															th:href="@{/deleteLocalConveyance/{id}(id=${listOfloc.localConvId})}"
															onclick="return confirm('Are you sure?')"><em
															class="fa fa-times" style="color: red"></em></a>
													</div>
													<div th:case="'Y'">
														<a
															th:href="@{/deleteLocalConveyance/{id}/(id=${listOfloc.localConvId})}"
															onclick="return confirm('Are you sure?')"><em
															class="fa fa-times" style="color: red"></em></a>
													</div>
												</th:block></td>
										</tr>
									</tbody>

								</table>
							</div>

						</div>
					</div>
			
			
			</div>
				</div>

			</main>
			<footer class="footer">
				<div th:replace="/fragments/footer :: div"></div>
			</footer>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			$('#example').DataTable({
				"scrollY" : 200,
				"scrollX" : true,
				deferRender : true,
				scrollCollapse : true,

			});
		});
	</script>
	<script>
		$(function() {

			// Datatables basic
			$('#datatables-basic').DataTable({
				responsive : true
			});
			// Datatables with Buttons
			var datatablesButtons = $('#datatables-buttons')
					.DataTable(
							{
								deferRender : true,
								scrollCollapse : true,
								scroller : false,
								responsive : true,
								lengthMenu : [
										[ 10, 20, 30, -1 ],
										[ '10 rows', '20 rows', '30 rows',
												'Show all' ] ],
								buttons : []
							});
			datatablesButtons.buttons().container().appendTo(
					"#datatables-buttons_wrapper .col-md-6:eq(0)")
		});
	</script>




	<script>
		function myFunctionEmpCode() {
			/* 		 var empCode= $('#empCode option:selected').value; */
			var empCode = document.getElementById('empCode').value
			console.log("ajax request : " + empCode);
			const xhr = new XMLHttpRequest();
			xhr.open('GET', './viewEmployeeDetails/' + empCode, true);
			xhr.getResponseHeader('content-type', 'application/json');
			xhr.onload = function() {
				if (this.status === 200) {
					let obj = JSON.parse(this.responseText);
					console.log(obj);
					$('#empName').val(obj.empName);
					$('#deptName').val(obj.deptName);
					$('#desgName').val(obj.desgName);
					$('#empPayCode').val(obj.empPayCode);
				} else {
					console.error("some error occured");
				}

			}
			xhr.send();
		}
	</script>
	<script>
		$('#loading').show();
		$.ajax({
			// Other ajax parameters
			success : function() {
				// hiding the image here
				debugger;
				$('#loading').hide();
			}
		});
	</script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

</body>
</html>