<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<script type="text/javascript" th:src="@{/js/settings.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/modern.css}" />
<script src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-7"></script>

<script type="text/javascript" th:src="@{/js/myJavaScript.js}"></script>
<style>
body {
	opacity: 0;
}

.uppercase {
	text-transform: uppercase;
}

.my-error-class {
	color: #FF0000;
	font-size: 12px;
	/* red */
}
</style>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	 gtag('js', new Date());

	gtag('config', 'UA-120946860-7');
</script>
<head>
<meta charset="utf-8" />
<title>HRMS</title>
</head>
<body>
	<div class="wrapper">
		<nav id="sidebar" class="sidebar" aria-label="Site sidebar">
			<div th:replace="fragments/sidebar :: div"></div>
		</nav>
		<div class="main">
			<div th:replace="fragments/header ::div"></div>
			<main class="content">
				<div class="container-fluid">
					<div class="header">
						<h1 class="header-title">HRMS</h1>
						<nav aria-label="breadcrumb"></nav>
					</div>
					<div class="row">
						<div class="col-12">
						
							<div class="card" style="border-radius: 2.2rem">
								<div class="card-header">
									<h5 class="card-title"style="text-decoration: underline;">Overtime Register Monthly Report</h5>
									<div class="alert-outline">
										<div th:if="${message}" th:text="${message}"
											style="color: red"></div>
									</div>
								</div>
								<div class="card-body">
									<form id="validation-form" action="#"
										th:action="@{/createOvertimeMonthly}" method="post" target="_blank">
										<div class="row">

											<div class="col-12 col-lg-6">
												<div class="form-group">
													<label class="form-label">Select Month</label> <label
														style="color: red">*</label> <select
														class="form-control select2" id="employeeName"
														name="month" required>
														<option value=''>--Select Month--</option>
														<option value="All">All</option>
														<option value='1'>Janaury</option>
														<option value='2'>February</option>
														<option value='3'>March</option>
														<option value='4'>April</option>
														<option value='5'>May</option>
														<option value='6'>June</option>
														<option value='7'>July</option>
														<option value='8'>August</option>
														<option value='9'>September</option>
														<option value='10'>October</option>
														<option value='11'>November</option>
														<option value='12'>December</option>


													</select>



												</div>
											</div>
											</div>
										

											<div class="row">
											<div class="col-12 col-lg-6">
												<label class="form-label">Department Code</label> 
													<input type="text" class="form-control" readonly>
											</div>
											
											<div class="col-12 col-lg-6">
												<div class="form-group">
													<label class="form-label">Department Name</label> <label
														style="color: red">*</label> <select
														class="form-control select2" id="" name="deptCode"
														 required>
														<option value=''>--Select Department--</option>
														<option value='ALL'>All</option>
														<option th:each="department : ${listDepartment}"
															th:text="${department.deptName}"
															th:value="${department.departmentCode}"></option> 
														


													</select>



												</div>
											</div>

										</div>

											
											
											


										

										<p></p>
										<!-- <Button type="submit">Generate Pdf</Button> -->
										<Button type="submit" class="btn btn-primary">Generate Sheet</Button>

										<!-- <a href="#" th:href="@{employeeExcel}">Download Excel Sheet</a> -->

										<!-- <Button id = "generate_pdf_button" onclick="generatePdfFunction()">Generate Pdf</Button> -->
									</form>





								</div>
							</div>
						</div>

					</div>
				</div>

			</main>

			<footer class="footer">
				<div th:replace="fragments/footer :: div"></div>
			</footer>
		</div>
	</div>
	<script>
		$(function() {
			// Datatables basic
			$('#datatables-basic').DataTable({
				responsive: true
			});
			// Datatables with Buttons
			var datatablesButtons = $('#datatables-buttons').DataTable({
				  deferRender:true,
		            scrollCollapse: true,
		            scroller: false,
				   responsive: true,
				   lengthMenu :[[10,20,30,-1 ],['10 rows', '20 rows', '30 rows', 'Show all' ] ],
					buttons :[]
			});
			datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)")
		});
	</script>


	<script>
	
	function generatePdfFunction(){
		
		var designationName = document.getElementById("designation_name").value;
		
		console.log(" designation name : "+ designationName);
	
		
	   
	    const xhr = new XMLHttpRequest();
	    xhr.open('POST','employeeDetailPdf/'+designationName,true);
	    xhr.getResponseHeader('content-type','application/json');
	    xhr.onload = function(){
        if(this.status===200){ 
        	let obj = JSON.parse(this.responseText);
 	        console.log(obj);
			
	     }
	     else{
		      console.error("some error occured");
	  }
			
	}
	  xhr.send();
		

}	
	</script>
</body>
</html>




