<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<script type="text/javascript" th:src="@{/js/settings.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/modern.css}" />
<script src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-7"></script>
<link  href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.css"rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.js"></script>
<script type="text/javascript" th:src="@{/js/myJavaScript.js}"></script>


<style>
body {
	opacity: 0;
}

.uppercase {
	text-transform: uppercase;
}

.my-error-class {
	color: #FF0000;
	font-size: 12px;
	/* red */
}
</style>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());

	gtag('config', 'UA-120946860-7');
</script>
<head>
<meta charset="utf-8" />
<title>HRMS</title>
</head>
<body>
	<div class="wrapper">
		<nav id="sidebar" class="sidebar" aria-label="Site sidebar">
			<div th:replace="/fragments/sidebar :: div"></div>
		</nav>
		<div class="main">
			<div th:replace="/fragments/header ::div"></div>
			<main class="content">
				<div class="container-fluid">
					<div class="header">
						<h1 class="header-title">Master</h1>
						<nav aria-label="breadcrumb"></nav>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header" style="background: #f4f7fc;">
									<h5 class="card-title"
										style="text-decoration: underline; color: #dc2eaf;">Program
										Master</h5>
								<input type="hidden" id="mess" name="mess"th:value="${message}">
									

								</div>
								<div class="card-body">
									<form id="validation-form" action="#"
										th:action="@{/saveProgram}" th:object="${program1}"
										method="post">
										<div class="row">

											<div class="form-group sm col-md-4">
												<label> Program Code </label> <label style="color: red">*</label>
												<input type="text" class="form-control" id="programCode"
													maxlength="15" title="Program Code" name="programCode"
													readonly>
											</div>

											<div class="form-group sm col-md-4">
												<label>Program Name</label> <label style="color: red">*</label>
												<input type="text" class="form-control noHTML"
													style="text-transform: capitalize;" name="programName"
													maxlength="50" title="Program Name" id="programName"
													required>
											</div>


											<div class="form-group sm col-md-4">
												<label>Program Href</label> <label style="color: red">*</label>
												<input type="text" class="form-control" id="programHrefName"
													name="programHrefName" maxlength="100" required>
											</div>

											<div class="form-group sm col-md-4">
												<label class="form-label">Module</label> <label
													style="color: red">*</label> <select
													class="form-control select2" name="pModuleCode.moduleCode"
													id="moduleCode" onchange="mySubModuleCode()" required
													aria-required="true">
													<option value="">Select Module</option>
													<option th:each="module: ${modulesList}"
														th:value="${module.getModuleCode()}"
														th:text="${module.getModuleName()}"></option>
												</select>
											</div>

											<div class="form-group sm col-md-4">
												<label class="form-label">Sub Module</label> <label
													style="color: red">*</label> <select
													class="form-control select2"
													name="subModuleCode.subModuleCode" id="subModuleCode"
													required aria-required="true">
													<option value="">Select Sub Module</option>
												</select>
											</div>

											<div class="form-group sm col-md-4">
												<label class="form-label">Program Type </label> <label
													style="color: red">*</label> <select class="form-control"
													name="programType" id="programType" required
													aria-required="true">
													<option value="">Select Type</option>
													<option value="P">Programs</option>
													<option value="R">Reports</option>
												</select>
											</div>

											<div class="form-group sm col-md-4">

												<label class="form-label">Status</label>
												<div class="custom-controls-stacked">
													<label class="radio-inline"> <input type="radio"
														value="Y" name="activeYn" checked> Active
														&nbsp;&nbsp;
													</label> <label class="radio-inline"> <input type="radio"
														value="N" name="activeYn"> Inactive
													</label>

												</div>
											</div>

											<div class="form-group sm col-md-4">
												<label>Sequence No</label> <label style="color: red">*</label>
												<input type="text" class="form-control noHTML" name="seqProgram"
													id="seqProgram" pattern="\d{1,3}" maxlength="3"
													required>
											</div>



										</div>
										<button type="submit" class=" btn mb-1 btn-success">
											<em class="fas fa-check"></em> &nbsp; Save
										</button>
										&nbsp;
										<button type="reset" class="btn mb-1 btn-danger" value="Reset">
											<em class="fas fa-times"></em> &nbsp;Cancel
										</button>

									</form>
								</div>
							</div>
						</div>

						<div class="col-12">
							<div class="card">
								<div class="card-header"></div>
								<div class="card-body">

									<table id="datatables-buttons"
										aria-describedby="datatables-buttons"
										class="table table-striped display" style="width: 100%">
										<thead>
											<tr>
												<th scope="col">Program code</th>
												<th scope="col">Program Name</th>
												<th scope="col">Module Name</th>
												<th scope="col">Sub Module Name</th>
												<th scope="col">Status</th>
												<th scope="col">Seq No</th>
												<th scope="col">Action</th>

											</tr>
										</thead>
										<tbody>
											<tr th:each="listofgrade : ${listpPrograms}">
												<td th:text="${listofgrade.programCode}"></td>
												<td th:text="${listofgrade.programName}"></td>
												<td th:text="${listofgrade.pModuleCode.moduleName}"></td>
												<td th:text="${listofgrade.subModuleCode.subModuleName}"></td>
												<td th:text="${listofgrade.activeYn}"></td>
												<td th:text="${listofgrade.seqProgram}"></td>
												<td><a
													th:href="@{/editProgram/{id}(id=${listofgrade.programCode})}"><em
														class="fa fa-edit"></em></a> <a
													th:href="@{/deleteProgram/{id}(id=${listofgrade.programCode})}"
													onclick="return confirm('Are you sure?')"><em
														class="fa fa-times" style="color: red"></em></a></td>
											</tr>
										</tbody>

									</table>
								</div>
							</div>
						</div>
					</div>


				</div>
			</main>

			<footer class="footer">
				<div th:replace="/fragments/footer :: div"></div>
			</footer>
		</div>
	</div>
	<script>
		$(function() {
			// Datatables basic
			$('#datatables-basic').DataTable({
				responsive : true
			});
			// Datatables with Buttons
			var datatablesButtons = $('#datatables-buttons')
					.DataTable(
							{
								deferRender : true,
								scrollCollapse : true,
								scroller : false,
								responsive : true,
								lengthMenu : [
										[ 10, 20, 30, -1 ],
										[ '10 rows', '20 rows', '30 rows',
												'Show all' ] ],
								buttons : []
							});
			datatablesButtons.buttons().container().appendTo(
					"#datatables-buttons_wrapper .col-md-6:eq(0)")
		});
	</script>

	<script>
		function mySubModuleCode() {
			var id = document.getElementById('moduleCode').value
			console.log("ajax request : " + id);
			const xhr = new XMLHttpRequest();
			xhr.open('GET', './viewModuleBySubModuleCode/' + id, true);
			xhr.getResponseHeader('content-type', 'application/json');
			xhr.onload = function() {
				if (this.status === 200) {
					let obj = JSON.parse(this.responseText);
					console.log(obj);
					$('#subModuleCode').empty();
					$('#subModuleCode').append(
							$('<option>').val("").text("Select SubModule"));

					$('#subModuleName').val(obj.subModuleName);
					$('#subModuleCode').val(obj.subModuleCode);

					$.each(obj, function(i, item) {
						$('#subModuleCode').append(
								$('<option>').val(this.subModuleCode).text(
										this.subModuleName));
					});
				} else {
					console.error("some error occured");
				}
			}
			xhr.send();
		}
	</script>
<script>
		$(document).ready(function() {

			var message = document.getElementById('mess').value
			if (message != null && message !== "") {

				swal(message, "", "success", {
					button : "OK",
					hideClass : {
						popup : 'animate__animated animate__fadeOutUp'
					},
				});
			} else {
				console.log("ajax request : " + message);
			}

		});
	</script>

</body>
</html>