<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<script type="text/javascript" th:src="@{/js/settings.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/modern.css}" />
<script src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-7"></script>
<script type="text/javascript" th:src="@{/js/myJavaScript.js}"></script>
<link  href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.css"rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.2.0/sweetalert2.min.js"></script>
<style>
body {
	opacity: 0;
}

.uppercase {
	text-transform: uppercase;
}

#loading {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	opacity: 0.7;
	background-color: #676565;
	z-index: 99;
	text-align: center;
}

#loading-image {
	position: absolute;
	top: 25%;
	left: 50%;
	z-index: 100;
}

.my-error-class {
	color: #FF0000;
	font-size: 12px;
	/* red */
}
</style>



<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());

	gtag('config', 'UA-120946860-7');
</script>
<head>
<meta charset="utf-8" />
<title>HRMS</title>
</head>

<body>

	<div class="wrapper">
		<nav id="sidebar" class="sidebar">
			<div th:replace="/fragments/sidebar :: div"></div>
		</nav>

		<div class="main">
			<div th:replace="/fragments/header ::div"></div>
			<main class="content">
				<div class="container-fluid">

					<div class="header">
						<h1 class="header-title">Personal</h1>


					</div>
					<form id="validation-form" action="#"
						th:action="@{/saveTrainingRegister}"
						th:object="${trainingRegister}" method="post">
						<div class="row">

							<div class="col-12">
								<div class="card">
									<div class="card-header" style="background: #f4f7fc;">
										<h5 class="card-title" style="text-decoration: underline;color: #dc2eaf;">Training
											Register</h5>
								<input type="hidden" id="mess" name="mess"th:value="${message}">
									</div>
									<div class="card-body">

										<div class="form-row">
											<div class="form-group sm col-md-4">
												<label class="form-label">Training Register Code </label> <input
													type="text" id="trRegCode" th:field="*{trRegCode}"
													class="form-control" readonly>
											</div>
											<div class="form-group sm col-md-4">
												<label class="form-label">Training Register Date <span
													class="text-danger">*</span></label> <input type="date"
													th:field="*{trRegDate}" class="form-control"
													title="Training Register  Date" name="trainingRegDate"
													id="trainingRegDate">
											</div>
											<div class="form-group sm col-md-4">
												<label class="form-label">Schedule Code</label> <label
													style="color: red">*</label> <select
													class="form-control select2" title="Schedule Code"
													th:field="*{trScheduleCode.trScheduleCode}" id="trSchCode"
													onchange="myFunctionTRScCode()" required
													aria-required="true">
													<option value="">Select</option>
													<option th:each="e :${listTrSch}"
														th:value="${e.getTrScheduleCode()}"
														th:text="${e.getTrScheduleCode()}"></option>
												</select>

											</div>




										
									
											<div class="form-group sm col-md-4">
												<label class="form-label"> Schedule Date</label> <input
													type="date" id="trSchDate" th:field="*{trSchDate}"
													title="Schedule Date" class="form-control" >
											</div>
											<div class="form-group sm col-md-4">
												<label class="form-label"> Topic Serial No</label> <input
													Type="text" class="form-control noHTML" name="topicSrNum"
													th:field="*{topicSrlNo}" title="Topic Serial No"
													id="topicSrlNo" readonly>

											</div>


											<div class="form-group sm col-md-4">
												<label class="form-label">Time From </label> <input
													Type="time" class="form-control " th:field="*{trTimeFrom}"
													id="trTimeFrom" title="Time From">


											</div>
										

									


											<div class="form-group sm col-md-4">
												<label class="form-label">Time To </label> <input
													Type="time" class="form-control " th:field="*{trTimeTO}"
													id="trTimeTO" title="Time To">
											</div>
											<div class="form-group sm col-md-4">
												<label class="form-label">Trainer </label> <input
													Type="text" class="form-control noHTML" name="trainer"
													th:field="*{trainer}" id="trainer" title="Trainer " readonly>

											</div>
											<div class="form-group sm col-md-4">
												<label class="form-label">Trainer Feedback </label>
												<textarea class="form-control noHTML"
													th:field="*{trFeedback}" title="Trainer Feedback"
													id="trFeedback" Style="resize: none;" rows="1"
													placeholder="Trainer Feedback "></textarea>
											</div>

										
										
									
											<div class="form-group sm col-md-4">
												<label class="form-label">Head Department Name</label> <label
													style="color: red">*</label> <select
													class="form-control select2" th:field="*{hodCode}"
													title="Head Department" id="hodCode" required
													aria-required="true">
													<option value="">Select</option>
													<option th:each="d :${listDepartment}"
														th:value="${d.getDepartmentCode()}"
														th:text="${d.getDeptName()}"></option>
												</select>

											</div>
											
											<div class="form-group sm col-md-4">
												<label class="form-label">HOD Feedback </label>
												<textarea class="form-control noHTML"
													th:field="*{hodFeedback}" title="Time From"
													id="hodFeedback" Style="resize: none;" rows="1"
													placeholder="HOD Feedback"></textarea>
											</div>
											<div class="form-group sm col-md-4">
												<label class="form-label">Employee Name</label> <label
													style="color: red">*</label> <select
													class="form-control select2" title="Employee Name"
													th:field="*{trainingRegisterDetails.employee.empCode}"
													id="employee" required aria-required="true">
													<option value="">Select</option>
													<option th:each="e :${listEmployee}"
														th:value="${e.getEmpCode()}" th:text="${e.getEmpName()}"></option>
												</select>

											</div>
										
							
											<div class="form-group sm col-md-4">
												<label class="form-label">Employee Feedback </label>
												<textarea class="form-control noHTML"
													title="Employee Feedback"
													th:field="*{trainingRegisterDetails.empFeedback}"
													id="empFeedback" Style="resize: none;" rows="1"
													placeholder="Status"></textarea>
											</div>
											
									
											
										</div>	
												<button type="submit" class=" btn mb-1 btn-success">
											<em class="fas fa-check"></em> &nbsp; Save
										</button>
										&nbsp;
										<button type="reset" class="btn mb-1 btn-danger" value="Reset">
											<em class="fas fa-times"></em> &nbsp;Cancel
										</button>
										</div>

									</div>

								

								</div>

						</div>

					</form>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header"></div>
								<div class="card-body">
									<table id="datatables-buttons"
										class="table table-striped display" style="width: 100%"
										aria-describedby="example">
										<thead>
											<tr>
												<th scope="col">Training Register Code</th>
												<th scope="col">Training Date</th>

												<th scope="col">Time From</th>
												<th scope="col">Time To</th>

												<th scope="col">Action</th>
											</tr>



										</thead>
										<tbody>
											<tr th:each="listOfloc:${listTrainingRegister}">
												<td th:text="${listOfloc.trRegCode}"></td>
												<td
													th:text="${#dates.format(listOfloc.trRegDate,'dd-MM-yyyy')}"></td>
												<td th:text="${listOfloc.trTimeFrom}"></td>
												<td th:text="${listOfloc.trTimeTO}"></td>

												<td><a
													th:href="@{/editTrainingRegister/{id}(id=${listOfloc.trRegCode})}"><em
														class="fa fa-edit"> Edit</em></a> &nbsp; <a
													th:href="@{/deleteTrainingRegister/{id}/(id=${listOfloc.trRegCode})}"
													onclick="return confirm('Are you sure?')"><em
														class="fa fa-times" style="color: red"> Remove</em></a></td>

											</tr>


										</tbody>

									</table>
								</div>

							</div>
						</div>
					</div>
				</div>

			</main>
			<footer class="footer">
				<div th:replace="/fragments/footer :: div"></div>
			</footer>
		</div>
	</div>


	<script>
		$(function() {

			/* $("input[name='trSchDate']").daterangepicker({
				singleDatePicker: true,
			    autoApply: true,
				locale: {
			        format: 'DD/MM/YYYY'
			    },
				showDropdowns: true
			}); */
			/* 	
				$("input[name='trRegDate']").daterangepicker({
					singleDatePicker: true,
				    autoApply: true,
					locale: {
			            format: 'DD/MM/YYYY'
			        },
					showDropdowns: true
				});
			 */

			// Datatables basic
			$('#datatables-basic').DataTable({
				responsive : true
			});
			// Datatables with Buttons
			var datatablesButtons = $('#datatables-buttons')
					.DataTable(
							{
								deferRender : true,
								scrollCollapse : true,
								scrollX : true,
								responsive : true,
								lengthMenu : [
										[ 10, 20, 30, -1 ],
										[ '10 rows', '20 rows', '30 rows',
												'Show all' ] ],
								buttons : []
							});
			datatablesButtons.buttons().container().appendTo(
					"#datatables-buttons_wrapper .col-md-6:eq(0)")
		});
	</script>

	<script>
		$(document).ready(function() {
			
			var message = document.getElementById('mess').value
			if (message != null && message !== "") {

				swal(message, "", "success", {
					button : "OK",
					hideClass : {
						popup : 'animate__animated animate__fadeOutUp'
					},
				});
			} else {
				console.log("ajax request : " + message);
			}
			
			$('#example').DataTable({
				"scrollY" : 200,
				"scrollX" : true,
				deferRender : true,
				scrollCollapse : true,

			});
		});
	</script>



	<script>
		function myFunctionTRScCode() {
			/* 		 var empCode= $('#empCode option:selected').value; */
			var trSchCode = document.getElementById('trSchCode').value
			console.log("ajax request : " + trSchCode);
			const xhr = new XMLHttpRequest();
			xhr.open('GET', './viewTrSchudle/' + trSchCode, true);
			xhr.getResponseHeader('content-type', 'application/json');
			xhr.onload = function() {
				if (this.status === 200) {
					let obj = JSON.parse(this.responseText);
					console.log(obj);
					console.log("ajax xx : " + obj.trSchDate);
					$('#trSchDate').val(obj.trSchDate);
					$('#topicSrlNo').val(obj.topicSrlNo);
					$('#trainer').val(obj.trainer);

				} else {
					console.error("some error occured");
				}

			}
			xhr.send();
		}
	</script>


	<script>
		document.getElementById("trainingRegDate").valueAsDate = new Date();
	</script>




	<script>
		$('#loading').show();
		$.ajax({
			// Other ajax parameters
			success : function() {
				// hiding the image here
				debugger;
				$('#loading').hide();
			}
		});
	</script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

</body>



</html>